:root{
    --base: purple;
    --spacing: 50px;
    --blur: 10px;
    --width: 100px;
}

body{
    text-align: center;
}

body{
    background: lightblue;
    color: white;
}

.controls{
    margin-bottom: 50px;
}

a{

}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blu(var(--blur));
    width: var(--width);
}

.h1{
    color: var(--base);
}